body{

    background-color:#fff;
}

/* notes css */
.container {
    margin-top: 10px;
}

.h3, h3 {
    font-size: calc(1.3rem + .6vw);
    color: #894565;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    
}

   /* CSS for styling the sidebar */
   .sidebar {
    background-color: #e4d1dd;
    padding: 10px;
    border-radius: 5px;
    box-shadow:0 1.5px 2px #894565;
}
  /* Style for the note boxes */
  .note-box {
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: #894565;
    transition: background-color 0.3s;
    
}

.note-box:hover {
color: #e4d1dd;
}
.sidebar h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #894565;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.sidebar ul li:hover {
    background-color: #e9ecef;

}

.main-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px #E4D1DD;
    height: 650px;
}

.form-label {
    margin-bottom: .5rem;
    color: #894565;
}

.note-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 500px;
}

.note-form .form-control:hover {
    border-color: #894565;
    /* Set border color for input labels */
}

.note-form .form-control:focus {
    border-color: #894565;
    /* Set border color for focused state */
    box-shadow: 2px 4px #E4D1DD;
    /* Remove the default blue shadow on focus */
}

.sidebar .form-control:hover {
    border-color: #894565;
    /* Set border color for search input */
}

.sidebar .form-control:focus {
    border-color: #894565;
    /* Set border color for focused state */
    box-shadow: none;
    /* Remove the default blue shadow on focus */
}
.btn-primary {
    background-color: #894565; /* Set the background color */
    color: white; /* Text color */
    border: none; /* Remove default button border */
    padding: 10px 20px; /* Padding for the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    outline: none; /* Remove focus outline */
}

.btn-primary:focus ,.btn-primary:hover,.btn-primary:active {
    background-color: #894565;
 }

