
        
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.radeefimg {
    margin-bottom: 30px;
    width:50;
    height: 50;
}
.form-container {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.form-container h4 {
    text-align: center;
    margin-bottom: 20px;
}
.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #8B5373;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.form-container a {
    display: block;
    text-align: center;
    color: #8B5373;
    text-decoration: none;
    margin-top: 15px;
}

